<nav class="navbar navbar-white">
  <div class="container-fluid">
    <div class="img">
  <img src="../assets/img/photo2.png" alt="Girl in a jacket" >
  </div>
  <h3>
  <b>
  <h3 class="active">
  <div class="navbar-header">
  </div>
  </h3>
  <ul class="nav navbar-nav">
  <li><a routerLink="/cours/participant" class="fa fa-users">Participants</a></li>
  <li><a routerLink="/cours/badge" class="fa fa-plus">Badges</a></li>
  <li><a routerLink="/cours/evaluation" class="fa fa-plus">Evaluation</a></li>
  <li><a routerLink="/cours/exercice" class="fa fa-plus">Exercice</a></li>
  <li><a routerLink="/cours/note" class="fa fa-plus">Note</a></li>
  <li><a routerLink="/cours/modification" class="fa fa-plus">Modifier</a></li>
  </ul>
  </b>
  </h3>
  </div>
  </nav>
  