  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>
  <div class="container">
    <h2 class="text-center btn-primary"><b class="fa fa-list">&nbsp; liste des cours</b></h2>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped">
      <thead >
        <tr class=" btn-primary">
          <th>Nom court</th>
          <th>Nom complet</th>
          <th>Catégorie</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr *ngFor="let mescour of mescours">
          <td>{{ mescour.shortname }}</td>
          <td>{{ mescour.fullname }}</td>
          <td>{{mescour.category}}</td>
          <td><a routerLink="/cours/option" class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span></a></td>
        </tr>
     </tbody>
    </table>
    
  </div>
  
  <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>