
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active" style="margin-right:10px">
              <a class="btn btn-info glyphicon glyphicon-home" href="#"></a>
          </li>
          <li class="nav-item active" style="margin-right:10px">
            <a class="btn btn-info" routerLink='/cours/evaluation'>Evaluation</a>
          </li>
          <li class="nav-item active" style="margin-right:10px">
            <a class="btn btn-info" routerLink='/cours/exercice'>Exercice</a>
        </li>
        </ul>
      </div>
    </nav> 

<div class="container">
<h2 class="text-center btn-primary"><b class="fa fa-list">&nbsp; Mes cours</b></h2>

<table class="table table-bordered table-striped">
  <thead >
    <tr class="btn-primary">
      <th>Nom court</th>
      <th>Nom complet</th>
      <th>Catégorie</th>  
      <th>participants</th>
      <th>Lire</th> 
      <th>Mes notes</th>
    </tr>
  </thead>
  <tbody id="myTable">
    <tr *ngFor="let mescour of mescours"> 
      <td>{{ mescour.shortname }}</td>
      <td>{{ mescour.fullname }}</td>
      <td>{{mescour.category}}</td>
      <td ><a routerLink="/cours/participant" class="btn btn-success align-center"><span class="glyphicon glyphicon-user"></span></a></td>
      <td (click)="onClick(mescour.id)"><a class="btn btn-primary" ><span class="glyphicon glyphicon-book"></span></a></td>
      <td ><a routerLink="#" class="btn btn-warning" ><span class="glyphicon glyphicon-eye-open"></span></a></td>
    </tr>
 </tbody>
</table>

</div>

