<h1>Nos Packs</h1>

<!-- /.row -->

<div class="box-header clearfix">
    <a routerLink="packl" class="btn btn-sm btn-info btn-flat pull-right">Packs Lycée</a>
</div>

<h2 class="page-header">Classe 6ème</h2>

<div class="row">
  <!-- ./col -->
 <div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-green">
    <div class="inner">
      <h3>Pack 1 mois</h3>
      <ul>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>3000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="actualite" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i> 
    </a>
  </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-blue">
    <div class="inner">
      <h3>Pack 3 mois</h3>
      <ul>
          <li class="fa fa-check-square">  Cours en live</li> <br>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>6000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="ami" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>Pack 1 mois</h3>
      <ul>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>3000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="groupe" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-red">
    <div class="inner">
      <h3>Pack 3 mois</h3>
      <ul>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>6000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="ami" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
<!-- ./col -->
</div>
<!-- /.row -->

<!-- /.row -->
<h2 class="page-header">Classe 5ème</h2>

<div class="row">
  <!-- ./col -->
 <div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-green">
    <div class="inner">
      <h3>Pack 1 mois</h3>
      <ul>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>3000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="actualite" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i> 
    </a>
  </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-blue">
    <div class="inner">
      <h3>Pack 3 mois</h3>
      <ul>
          <li class="fa fa-check-square">  Cours en live</li> <br>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>6000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="ami" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>Pack 1 mois</h3>
      <ul>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>3000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="groupe" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-red">
    <div class="inner">
      <h3>Pack 3 mois</h3>
      <ul>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>6000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="ami" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
<!-- ./col -->
</div>
<!-- /.row -->

<!-- /.row -->
<h2 class="page-header">Classe 4ème</h2>

<div class="row">
  <!-- ./col -->
 <div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-green">
    <div class="inner">
      <h3>Pack 1 mois</h3>
      <ul>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>3000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="actualite" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i> 
    </a>
  </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-blue">
    <div class="inner">
      <h3>Pack 3 mois</h3>
      <ul>
          <li class="fa fa-check-square">  Cours en live</li> <br>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>6000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="ami" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>Pack 1 mois</h3>
      <ul>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>3000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="groupe" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-red">
    <div class="inner">
      <h3>Pack 3 mois</h3>
      <ul>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>6000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="ami" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
<!-- ./col -->
</div>
<!-- /.row -->

<!-- /.row -->
<h2 class="page-header">Classe 3ème</h2>

<div class="row">
  <!-- ./col -->
 <div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-green">
    <div class="inner">
      <h3>Pack 1 mois</h3>
      <ul>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>3000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="actualite" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i> 
    </a>
  </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-blue">
    <div class="inner">
      <h3>Pack 3 mois</h3>
      <ul>
          <li class="fa fa-check-square">  Cours en live</li> <br>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>6000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="ami" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>Pack 1 mois</h3>
      <ul>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>3000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="groupe" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-red">
    <div class="inner">
      <h3>Pack 3 mois</h3>
      <ul>
        <li class="fa fa-check-square">  Cours résumé</li> <br>
        <li class="fa fa-check-square">  Cours en vidéo</li> <br>
        <li class="fa fa-check-square">  Exercice interactif</li> <br>
        <li class="fa fa-check-square">  Séries et examens corrigés</li>
      </ul>
      <h4>6000 Fr</h4>
    </div>
    <div class="icon">
      <i class="ion ion-card"></i>
    </div>
    <a routerLink="ami" class="small-box-footer">
      ACHETER <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
<!-- ./col -->
</div>
<!-- /.row -->






