<!DOCTYPE html>
<html lang="en">
<head>

  <title>Bootstrap Example</title>

  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <p style="text-align: center">
        <img src="../assets/img/creercours.png" alt="Girl in a jacket"  >
      </p>
 <div class="container" >

  <div class="row">
	<form [formGroup]="creercoursForm" class="form-horizotal" (ngSubmit)="onSubmit()">

    <div class="col-md-12">
      <h3 class=" btn-primary text-center">Nouveau Cours</h3> <br>
      <div class="row ">
        <div class="form-group col-xs-6">
            <label class="col-sm-6 control-label" for="nomcomplet">Nom complet:</label>
            <input formControlName="nomcomplet" type="text" class="form-control">	
        </div>
        <div class="form-group col-xs-6">
          <label class="col-sm-6 control-label" for="nomabr">Nom abregé:</label>
          <input formControlName="nomabr" type="text" class="form-control">
        </div>
        <div class="form-group col-xs-6">
            <label class="col-sm-6 control-label" for="Categorie">Categorie:</label>
            <select formControlName="categorie" class="form-control">
              <option value="1">1ere</option>
              <option value="2">2nd</option>
              <option value="3">3eme</option>
            </select>
            <!-- <input formControlName="categorie" type="number" class="form-control" value="1"> -->
        </div>
        <div class="form-group col-md-6">
            <label class="col-sm-6 control-label" for="description">Description:</label>
            <input formControlName="description" type="text" class="form-control">
        </div>
        <!-- <div class="form-group col-xs-6">
            <label class="col-sm-6 control-label" for="datedeb">Date debut:</label>
            <input id="lastName" formControlName="datedeb" type="date" class="form-control" disabled>	
        </div>
        <div class="form-group col-md-6">
            <label class="col-sm-6 control-label" for="datefin">Date fin:</label> 
            <input formControlName="datefin" type="date" class="form-control" disabled>
        </div>	 -->
      </div>
      <br>
      <div id="div1">
      <button type="submit" class="btn btn-primary">valider</button>
       </div>
    </div>
  
    </form>
  </div>


</div>



</body>
</html>