<nav class="navbar navbar-white">
  <div class="container-fluid">
    <div class="img">
  <img src="../assets/img/photo2.png" alt="Girl in a jacket" >
  
<nav class="navbar  ">
  <div class="container-fluid">
      <h3>
    <div class="navbar-header ">
    </div>
       <ul class="nav navbar-nav ">
          <li><a routerLink="/administration/creercours" class="fa fa-plus "> &nbsp; Nouveau</a></li>        
          <li><a routerLink="/administration/courses" class="fa fa-list">&nbsp; Liste</a></li>
          <li><a routerLink="/administration/creercat" class="fa fa-plus"> &nbsp;creer categorie</a></li>
      </ul>
    </h3>
    </div>
</nav>