<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active" id="a1" style="margin-right:10px">
            <a class="btn btn-primary glyphicon glyphicon-arrow-left" routerLink="/administration/courses"></a>
      </li>
      
    </ul>
  </div>
</nav>
<br>
<a routerLink="../course"  >

  
  </a>
  
  <div class="container">
  <div class="col-md-12">
      
   <!-- general form elements -->
   <div class="box box-primary">
     <div class="box-header with-border">
       <h3 class="box-title" class="text-center text-blue">Ajouter une categorie de cours</h3>
     </div>
     <!-- /.box-header -->
     <!-- form start -->
     <form role="form" >
       <div class="box-body">
         <div class="form-group">
           <label for="exampleInputEmail1" >Nom Complet</label>
           <input type="text" class="form-control" id="nomcomplet" placeholder="Nom complet du cours">
         </div>
       </div>
       <div class="box-footer">
         <button type="submit" class="btn btn-primary">Submit</button>
       </div>
     </form>
   </div>
  </div>   
  
  
   <!-- /.box -->
       
  
  
   
  