<nav class="navbar navbar-white">
  <div class="container-fluid">
    <div class="img">
  <img src="../assets/img/photo2.png" alt="Girl in a jacket" >
  </div>
  <h3>
  <b>
  <h3 class="active">
   <div class="navbar-header">
    </div>
      </h3>
       <ul class="nav navbar-nav">
          <li><a routerLink="/cours/creercours" class="fa fa-plus"> &nbsp; Creer cours</a></li>
        
          <li><a routerLink="./listeenseignant" class="fa fa-list">&nbsp; liste de enseignant</a></li>
          <li><a routerLink="./badge" class="fa fa-">&nbsp;Les badge</a></li>

        </ul>
        
          </b>
      </h3>
      
     </div>
  </nav>
  