<!DOCTYPE html>
<html lang="en">
<head>

  <title>Bootstrap Example</title>

  <meta charset="utf-8">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

</head>
<body>
    <p style="text-align: center">
        <img src="../assets/img/user.png" alt="Girl in a jacket"  >
      </p>
    <div class="container" >

        <div class="row"> 
	<form [formGroup]="profileForm" class="form-horizotal" (ngSubmit)="onSubmit()">

    <div class="col-md-12">
      <h3 class=" btn-primary text-center">Nouvel utilisateur</h3> <br>
      <div class="row ">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Nom d'utilisateur" formControlName="username"> 
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="nom" formControlName="nom">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="prenom" formControlName="prenom">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
        <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
              <input type="text" class="form-control" placeholder="pays" formControlName="pays">
              <span class="fa fa-map-marker margin-r-5 form-control-feedback"></span>
            </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="ville" formControlName="ville">
          <span class="fa fa-map-marker margin-r-5 form-control-feedback"></span>
        </div>
      </div>
      <br>
      <div id="div1">
      <button type="submit" class="btn btn-primary ">valider</button>
      </div>
    </div>
  
    </form>
  </div>
</div>
</body>
</html>