<div class="hold-transition register-page">
  <div class="register-box ">
      <div class="card bg-red text-center">
          <h4> {{message}} </h4>
         </div>
    <div class="register-logo">
      <a routerLink="/register"><b>E-</b>Makaranta</a>
    </div>

    <div class="register-box-body">
      <p class="login-box-msg">Nouvelle inscription</p> 

      <form [formGroup]="profileForm" class="form-horizotal" (ngSubmit)="onSubmit(f)" #f='ngForm'>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Nom d'utilisateur" formControlName="username" ngModel required> 
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password" ngModel required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Nom" formControlName="nom" ngModel required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom" ngModel required>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
        <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" formControlName="email" ngModel required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
        <div class="form-group has-feedback">
          <h5>Région</h5>
          <select class="form-control" formControlName="ville" ngModel required>
            <option value="Niamey">Niamey</option>
            <option value="Agadez">Agadez</option>
            <option value="Diffa">Diffa</option>
            <option value="Dosso">Dosso</option>
            <option value="Maradi">Maradi</option>
            <option value="Tahoua">Tahoua</option>
            <option value="Tillaberi">Tillaberi</option>
            <option value="Zinder">Zinder</option>
            <option value="Autre">Autre</option>
          </select>
          <!-- <input type="text" class="form-control" placeholder="Ville" formControlName="ville" ngModel required>
          <span class="fa fa-map-marker margin-r-5 form-control-feedback"></span> -->
        </div>
        <div class="form-group has-feedback" hidden>
          <input type="text" class="form-control" placeholder="Pays" formControlName="pays" value="Niger" >
          <span class="fa fa-map-marker margin-r-5 form-control-feedback"></span>
      </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <!-- <label>
                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"></ins></div><a href="#">J'accepte les terms</a>
              </label> -->
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            
            <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="f.invalid">S'inscrire</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <a routerLink="/login" class="text-center">Déja inscrit</a> 
    </div>
    <!-- /.form-box -->

    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="/#/login"> Emakaranta.com</a>
        </div>
        <!-- Copyright -->
  </div>
</div>
