<nav class="navbar navbar-white">
  <div class="container-fluid">
    <div class="img">
  <img src="../assets/img/photo2.png" alt="Girl in a jacket" >
  
<nav class="navbar  ">
  <div class="container-fluid">
      <h3>
    <div class="navbar-header ">
    </div>
       <ul class="nav navbar-nav ">
          <li><a routerLink="./course" class="fa fa-file "> &nbsp; Cours</a></li>        
          <li><a routerLink="./user" class="fa fa-user">&nbsp; Utilisateurs</a></li>
          <li><a routerLink="./badge" class="fa fa-"> &nbsp;Note</a></li>
      </ul>
    </h3>
    </div>
</nav>