<br><a routerLink="/cours/mescours" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></a>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>
  <div class="container">
    <h2 class="text-center btn-primary"><b class="fa fa-list">&nbsp; liste des participants au cours</b></h2>
    
    <br>
    <table class="table table-bordered table-striped">
      <thead >
        <tr class=" btn-primary">
          <th>Nom d'utilisateur</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>E-mail</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr *ngFor="let participant of participants">
          <td>{{ participant.username }}</td>
          <td>{{ participant.firstname }}</td>
          <td>{{participant.lastname}}</td>
          <td>{{participant.email}}</td>
        </tr>
     </tbody>
    </table>
    
  </div>
  
  <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>