.avatar{
    margin-top: 50px;
    vertical-align:right;
    margin-left: 150px;
    width:200px;
    height:200px;
    border-radius: 50%;
}
.card{
    vertical-align:middle;
    border-radius: 3%;
}
.container{
    background-color:white;
    margin-left: 50px;
}

.form-control{
    border-radius: 3%;
}