
<div class="container">
    <h2 class=" btn-primary"><b class="">: Enseignant:</b></h2>
    <br>
    <table class="table table-bordered table-striped">
      <thead >
        <tr class=" btn-primary">
          <th>Nom </th>
          <th>Prénom</th>
          <th>Niveau</th>
          <th>Matière</th>
          <th>note 1er examen</th>
          <th>note 2e examen</th>
          <th>moyenne</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr *ngFor="let cour of cours">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
     </tbody>
    </table>
    
  </div>
  
  