<br><a routerLink="/administration"  >

  <button type="button" class="btn btn-default">
          <b class="fa fa-home">
            Retour
          </b>
  </button>
  
  </a>
  <nav class="navbar navbar-white">
      <div class="container-fluid">
          <br>
        <div class="img">
      <img src="../assets/img/photo2.png" alt="Girl in a jacket" >
      
    <nav class="navbar navbar-white">
      <div class="container-fluid">
          <h3>
        <div class="navbar-header">
        </div>
        <ul class="nav nav-tabs">
          <li><a routerLink="../listeuser" class="fa fa-list"> &nbsp; listes</a></li>        
          <li><a routerLink="../compteajout" class="fa fa-plus">&nbsp; Ajouter</a></li>
      
  </ul>
        </h3>
        </div>
    </nav>